{% macro PRELOAD(f) -%}
{#- shoutout to https://web.dev/defer-non-critical-css/ -#}
    <link rel="preload" href="{{f}}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="{{f}}"></noscript>
{%- endmacro -%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block pagetitle %}error :({% endblock %}</title>
    {% block head -%}{% endblock %}
</head>
<body style="margin:0;padding-bottom:10px;" uk-height-viewport>
{% block body %}
if you're reading this, something has gone horribly wrong. not exactly good for my reputation. mail &lt;sigstackfault@gmail.com&gt;.
{% endblock %}
</body>
</html>
