{% extends "_base.html" %}
{% block pagetitle %}Hi, I'm SIGSTACKFAULT!{% endblock %}

{% block head %}
    <meta name="Description" content="Hi, I'm SIGSTACKFAULT! This is my tiny little landing page.">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="preload" as="style" href="static/sbinalla.css">
    <script defer src="static/sbinalla.js"></script>
    <script defer src="static/clip.js"></script>
    <script defer src="static/projects.js"></script>
    <style>
      /* critical */
      section > * {color:white;}
    </style>
{% endblock %}
{% block body %}
<header class="uk-flex">
    <div class="uk-container uk-flex uk-flex-middle" style="width:100%;">
        <div style="flex-grow:1;">
            <h1 style="margin:0;">Hi, I'm
                <s class="oldusername">Blacksilver</s>
                <b>SIGSTACKFAULT</b>!
            </h1>
            <div class="oldusername uk-margin-top"><em style="color:black">It's my username and I can change it if I want!</em></div>
        </div>
        <div style="width:7em;height:7em;">
            <img id="rad" src="static/rad.svg"
                class="uk-visible@s"
                alt="radiation symbol, which is usally my profile picture. It's got a cool spin animation that plays when you mouse over."
                title="this took me like 10 minutes i hope you're happy">
        </div>
    </div>
</header>
<main class="uk-container uk-margin-top">
    <section id="section-languages">
        <p>
            I'm a pretty generalized programmer, although I tend towards the front end.
            I like writing tools to help other people do their jobs, like test automation.
        </p>
        <div>
            <a class="uk-badge" href="https://en.wikipedia.org/wiki/C_(programming_language)">C</a>
            <a class="uk-badge" href="https://en.wikipedia.org/wiki/Python_(programming_language)">Python</a>
            <a class="uk-badge" href="https://en.wikipedia.org/wiki/Java_(programming_language)">Java</a>
            <a class="uk-badge" href="https://en.wikipedia.org/wiki/HTML">HTML</a>
            <a class="uk-badge" href="https://en.wikipedia.org/wiki/CSS">CSS</a>
            <a class="uk-badge" href="https://en.wikipedia.org/wiki/JavaScript">JS</a>
        </div>
    </section>
    <section id="section-contact" class="uk-margin">
        <span style="font-family:monospace">sigstackfault@gmail.com</span>
        <button class="uk-margin-left uk-button uk-button-primary uk-button-small"
                onclick="copyTextToClipboard('sigstackfault@gmail.com'); copyNotification('email-copied-notification')">
            COPY
        </button>
        <span id="email-copied-notification"
              class="uk-margin-left"
              style="display:none; color:#e8bf28">
            Copied!
        </span>
    </section>
    <section id="section-projects" class="uk-margin">
        <h2>Projects</h2>
        <noscript>
          It appears you're running without JS. This bit is client-side rendered so it's not gonna show.
          The website is static so I can't detect a lack of JS server-side and serve this pre-rendered.
          <a href="https://gitlab.com/SIGSTACKFAULT">Here's a link to my GitLab.</a>
        </noscript>
        <div id="projects-container" class="uk-flex uk-flex-wrap" style="align-items: start;">
            <div uk-spinner id="projects-spinner"></div>
            <!-- filled in by JS -->
        </div>
    </section>
    <script>
        // handle requests redirected from blacksilver.xyz
        var searchParams = new URLSearchParams(window.location.search);
        if(searchParams.get("blacksilver") === "1"){
            for(e of document.getElementsByClassName("oldusername")){
                e.style.display="revert";
            }
        }
    </script>
</main>
<link rel="stylesheet" href="static/sbinalla.css">
{% endblock %}
