@import "node_modules/uikit/src/less/components/variables.less";
@import "node_modules/uikit/src/less/components/base.less";

@import "node_modules/uikit/src/less/components/animation.less";
@import "node_modules/uikit/src/less/components/background.less";
@import "node_modules/uikit/src/less/components/badge.less";
@import "node_modules/uikit/src/less/components/button.less";
@import "node_modules/uikit/src/less/components/card.less";
@import "node_modules/uikit/src/less/components/container.less";
@import "node_modules/uikit/src/less/components/flex.less";
@import "node_modules/uikit/src/less/components/icon.less";
@import "node_modules/uikit/src/less/components/inverse.less";
@import "node_modules/uikit/src/less/components/margin.less";
@import "node_modules/uikit/src/less/components/notification.less";
@import "node_modules/uikit/src/less/components/spinner.less";
@import "node_modules/uikit/src/less/components/tooltip.less";
@import "node_modules/uikit/src/less/components/utility.less";
@import "node_modules/uikit/src/less/components/visibility.less";


// put this between the variables and base import. do it. I dare you.
@import "src/less/variables.less";


:root {
    /* firefox only for now */
    scrollbar-width: thick;
    scrollbar-color: #e8bf28 black;
}

.uk-badge {
    font-family: 'Roboto Slab', serif;
    vertical-align: baseline; /* looks slightly better */
    padding: 5px 10px;
    background: @global-link-color; /* WCAG contrast */
}

.projects-card h3.uk-card-title {
    font-weight: bold;
}

.projects-card h3.uk-card-title img.projects-icon {
    width: 2rem;
    margin-left: 3px;
}

.oldusername {
    //overridden by js if redirected from blacksilver.xyz
    display:none;
}

header {
    min-height:10rem;
    background-color:#e8bf28;
    box-shadow:0px 5px 5px #111;
    position:sticky;
    top:-9rem;
    z-index:999;
}

header h1 {
    font-family: "Roboto Slab", Roboto, sans-serif;
    color: @global-background;
    font-weight: bold;
}

header {
    color: @global-background;
}
