@global-color: #fff;
@global-link-color: #0053A7;
@global-primary-background: @global-link-color;
@global-link-hover-color: #e8bf28;
@global-background: #23272a;

@base-heading-color: #fff;

@card-default-background: #f8f8f8;
@card-default-color: #23272a;

@notification-message-color: black;