@keyframes sbinalla {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  90% {
    transform: rotate(480deg);
  }
  100% {
    transform: rotate(480deg);
  }
}
.sbinalla {
  animation: sbinalla 2.5s infinite;
  transform-origin: 50% 50%;
}